{% extends 'layout.html' %}
{% block text %}
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1>Sentiment Analysis <small class="text-muted">with NLP</small></h1>
        <p class="lead">Machine on Text</p>
        <a href="/analyze/tweets"><button type="button" class="btn btn-outline-primary">Analyze Tweets</button></a>
        <a href="/analyze/text"><button type="button" class="btn btn-outline-primary">Analyze Text</button></a>
      </div>
    </div>
  </div>
</div>
<div></div>{% endblock %}