{% extends 'layout.html' %}
{% block text %}
<div class="container">
	<div id="tag-cloud">
		<div class="card border-secondary mb-3" style="max-width: 30rem;">
		  <div class="card-body" style="padding:0.75em;">
		    <h5 class="card-title">@{{ n }} is talking about...</h5>
		    <p class="card-text">
		    {% for topic in topics %}
			<span class="tag-{{topics[topic]}}">{{ topic }}</span>
			{% endfor %}
			</p>
		  </div>
		</div>
	</div>
	<div id="chartContainer"></div>
		<div id="tweet-log">
			{% for tweet in tweets %}
			<span class="tweet">{{ tweet.created_at }} - {{ tweet.full_text }}</span>
			{% endfor %}
		</div>
</div>{% endblock %}{% block javascript %}<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
	<script src="{{url_for('static', filename="js/canvasjs.min.js" )}}"></script><script>
	var p = {{polarities|tojson|safe}}
	var dataPoints = []
	for(let i=0;i<p.length;i++){
		dataPoints.push({x:(i+1),y:p[i]})
	}
	window.onload = ()=>{
		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			theme: "light2",
			title: {
				text: "@" + {{n|tojson|safe}} + "'s recent tweets"
			},
			data: [{
				type: "line",
				dataPoints: dataPoints
			}],
			axisY:{
				maximum:1.2,
				minimum:-1.2
			}
		});
		chart.render();
	}
</script>
</div>
{% endblock %}