{% extends 'layout.html' %}
{% block text %}
<div class ="main-content">
	<form id="kw-form">
		{{ form.hidden_tag() }}
		{{ form.keyword.label() }}
		{{ form.keyword() }}
		{{ form.submit() }}
	</form>
</div><button id="stream-control">Pause</button><div id="tweet-log"></div>{% endblock %}{% block javascript %}<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script><script>
	var socket = io.connect('//' + document.domain + ':' + location.port);

	socket.on('new tweet', res => {
		append = '<br><span>'+ res.tweet +'</span>'
		tweetLog = document.querySelector("#tweet-log")
		content = tweetLog.innerHTML
		tweetLog.innerHTML = append + content
	})

	document.querySelector("#stream-control").onclick = ()=> {
		control = document.querySelector("#stream-control")
		if(control.innerHTML == "Pause") {
			socket.emit('stop-stream', {'s':1})
			control.innerHTML = "Continue"
		} else if(control.innerHTML == "Continue") {
			socket.emit('continue-stream', {'s':1})
			control.innerHTML = "Pause"
		}
	}

	document.querySelector("#kw-form #submit").onclick = ()=>{document.location.href="/analyze/tweets/"+ document.querySelector("#keyword").value; return false}
</script>
{% endblock %}